@mixin vertical-align {
    position: relative;
    top: 45%;
    transform: translateY(50%);
    transform: translateX(5%);
}

#header {
    display: block;
    border: 2px solid blue;
    width: auto;
    padding: 5px;
}

#sidebar {
    position: relative;
    float: left;
    margin-top: 10px;
    border: 2px solid red;
    width: 200px;
    height: 70vh;
    padding: 1%;
    p {
        display: block;
    }
}

#sidebar-list {
    display: block;
    border: 1px solid purple; 
    padding: 0 5px;
}

#calendar-box {
    display: block;
    border: 1px solid orange;
    width: 175px;
    height: 175px;
    @include vertical-align();
}

#container {
    float: left;
    border: 2px solid green;
    width: 70vw;
    height: 70vh;
    margin: 10px;
    padding-left: 5px;
}