@mixin vertical-align {
    position: relative;
    top: 45%;
    transform: translateY(50%);
    transform: translateX(5%);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header {
    display: block;
    border: 2px solid blue;
    width: auto;
    padding: 5px;
}

/* sidebar */

#sidebar {
    position: relative;
    float: left;
    margin-top: 10px;
    border: 2px solid red;
    width: 200px;
    height: 70vh;
    padding: 1%;
    p {
        display: block;
    }
}

#sidebar-list {
    display: block;
    border: 1px solid purple; 
    padding: 0 5px 5px 5px;
    margin-bottom: 20px;
}

#tasks-today li {
    font-size: 14px;
}

form {
    display: none;
    position: fixed;
    z-index: 9;
    background: white;
    padding: 5px;
    border: 3px solid darkolivegreen;
}

form input, select {
    margin: 5px;
}

#calendar-box {
    display: block;
    border: 1px solid orange;
    width: 175px;
    height: 175px;
    margin-left: 20px auto 10px auto;
}


/* main calendar */

#container {
    float: left;
    /*border: 2px solid green;*/
    width: 70vw;
    height: auto;
    margin: 10px;
    padding-left: 5px;
}


#calendar {
    display: block;
    border: 1px solid teal;
    width: 665px;
}

#caldendar-heading {
    display: inline-flex;
    border: 1px solid coral;
    height: 20px;
}

#cal-title {
    text-align: center;
}

#back-date, #forward-date {
    display: inline-flex;
    div {
        font-size: 1.5em;
        margin: 5px;
    }
}

#back-date {
    float: left;
}

#forward-date {
    float: right;
}

#weekdays {
    display: inline-flex;
    div {
        display: inline-block;
        border: 1px solid black;
        height: 20px;
        width: 93px;
        text-align: center;
    }
}

.calendar-day {
    display: inline-flex;
    width: 87px;
    height: 100px;
    border: 1px solid black;
    padding: 3px;
}

#today, #selected-date {
    font-weight: bold;
}

#today {
    background-color: #f2efc1;
}

#selected-date {
    background-color: #2484b7;
    color: white;
}

.diff-month {
    background-color: darkgray;
    border: 1px solid rgba(29, 28, 28, 0.418);
}